.footer__columns {
  padding: 116px 50px 104px 50px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .footer__columns {
    padding: 50px 50px 50px 50px;
    max-width: 800px;
  }
}
@media screen and (max-width: 767px) {
  .footer__columns {
    padding: 30px 10px 30px 10px;
    flex-direction: column;
    align-items: center;
  }
}
