.footer__column-block {
  display: flex;
  flex-direction: row;
  width: 636px;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .footer__column-block {
    flex-direction: column;
    width: 186px;
  }
}
